<h2>お気に入り一覧</h2>
<% @favorites.each  do |favorite| %>
  <%= favorite.post.user.name %>
  <%= image_tag favorite.post.image.url %>
<% end  %>

<table>
        <tr>
          <td><%= link_to "home",posts_path %></td>
          <td><%= link_to "➕", new_post_path %></td>
        </tr>
</table>